body {
  background-color: #000000;
  color: #ffffff;
  width: 200px;
}

#main-card {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  font-size: 18px;
}

a:visited {
  color: white;
}
